.container {
    position: absolute;
    width: fit-content;
    height: fit-content;
}

.nodes-img,
.edges-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px; /* Adjust this based on your image size */
    height: auto;
    /* transform: rotate(270deg); */
    border: 1px solid red;
}

.nodes-img {
    z-index: 2; /* Ensures it's on top */
    opacity: 1; /* Ensure it's fully visible */
}

.edges-img {
    z-index: 1;
    background-color: black;
}